@media screen and (max-width:1200px) 
    .games
        &-cards
            justify-content: space-around

@media screen and (max-width:670px)
    .header
        &-logo
            margin-bottom: 140px
        &-gameTitle
            font-size: 40px
            line-height: 44px
        & > .d-flex
            flex-direction: column
            justify-content: center
        &-gameRating
            margin-left: auto
            margin-top: 50px
    .footer
        & > .container > .d-flex
            flex-direction: column 
        &-menu
            justify-content: center 
            &_link
                margin-left: 15px